// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial;
    text-align: center;
}

h1 {
  color: blue;
}

#map {
  height: 100vh;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 3px 0px 9px #e3e3e3;
  text-align: left !important
}

#info-box {
  width: 100px;
  height: 100px;
  color: darkblue;
}
#info-box2 {
  width: 100px;
  height: 100px;
}



//.gm-style .gm-style-iw {
//             background-color: lightblue !important;
//             top: 0 !important;
//             left: 0 !important;
//             width: 100% !important;
//             height: 100% !important;
//             min-height: 120px !important;
//             padding-top: 10px;
//             display: block !important;
  //           border-radius: 30px !important;
  //           font-family: Times;
//         }
//
//          /*style the p tag*/
//          .gm-style .gm-style-iw #google-popup p{
//             padding: 10px;
//          }
//
//         /*style the arrow*/
//         .gm-style div div div div div div div div {
//             background-color: lightblue !important;
//             padding: 0;
//             margin: 0;
//             padding: 0;
//             top: 0;
//             color: #fff;
//             font-size: 16px;
//             border-radius: 30px;
//         }
//
//         /*style the link*/
//         .gm-style div div div div div div div div a {
//             color: #f1f1f1;
//             font-weight: bold;
//         }
