// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial;
    text-align: center;
}

h1 {
  color: blue;
}

#map {
  height: 100vh;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 3px 0px 9px #e3e3e3;
  text-align: left !important
}

#info-box {
  width: 100px;
  height: 100px;
  color: darkblue;
}
#info-box2 {
  width: 100px;
  height: 100px;
}
